/* ---
---

@import "{{ site.theme }}";
 */
body {
    margin: auto;
    width: 90%;
	height: 70%;
    font-family: "Courier New", "Lucida Console", Monospace;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
/* h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
} */
/* h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
} */
h1 h2 h3 h4 h5{
    font-size: 2em;
}

h1:before {
    content: "# "
}
h2:before {
    content: "## "
}
h3:before {
    content: "### "
}
h4:before {
    content: "#### "
}
h5:before {
    content: "##### "
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
.githublike {
    font-family: "Courier New", "Lucida Console", Monospace;
/*     font-size: 2em; */
    padding: 0px;
}
ul.githublike { 
    padding-top: 0px;
	padding-bottom: 0px; 
}
ul.githublike li {
/*     list-style: none; */
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul {
    list-style: none; /* Remove list bullets */
}
li:before {
    content: "- "; /* Insert content that looks like bullets */
}

/* ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
} */

bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}
bar li {
    float: left;
}
bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
bar li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
