/* ---
---

@import "{{ site.theme }}";
 */
body {
    margin: auto;
    width: 90%;
    height: 50%;
    font-family: "Courier New", "Lucida Console", Monospace;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
/* h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
} */
/* h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
} */
h1 h2 h3 h4 h5{
    font-size: 2em;
    font-style: normal; /* Disable italic ?*/
}

h1:before {
    content: "# "
}
h1:after {
    content: " #"
}
h2:before {
    content: "## "
}
h3:before {
    content: "### "
}
h4:before {
    content: "#### "
}
h5:before {
    content: "##### "
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
githublike {
    font-family: "Courier New", "Lucida Console", Monospace;
/*     font-size: 2em; */
    padding: 0px;
}
githublike ul { 
    padding-top: 0px;
    padding-bottom: 0px; 
}
githublike ul li {
    list-style: none;
    display: inline;
}

footer {
    font-family: "Times New Roman", "Georgia", Serif;
    border-top: 1px solid #d5d5d5;
    font-size: .5em;
}

/* 
ul {
    list-style: none; 
}
li:before {
    content: "- "; 
}
*/

ul, ol{ 
/* ul.posts {  */
    margin: 20px auto 40px; 
    font-size: 1.5em;
    list-style: none; 
}
/* ul.posts li { */
ul li, ul ol {
    list-style: none;
}
/* ul.posts li:before { */
ul li:before {
    content: "- "; 
}

bar ul {
    font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
/*     position: fixed; */
/*     bottom: 0; */
    width: 90%;
} 
bar li {
    float: left;
}
bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
bar ul li:before {
    content: ""; 
}
bar li a:hover:not(.active) {
    background-color: #111;
}
/* @media screen and (max-width: 600px){
    bar ul li {float: none;}
} */
@media screen and (max-width: 900px) {
    bar ul {
        width: 100%;
        height: auto;
        position: relative;
    }
    bar ul li a {
        float: left;
        padding: 15px;
    }
/*     div.content {margin-left: 0;} */
}
@media screen and (max-width: 400px) {
    bar ul li a {
        text-align: center;
        float: none;
    }
}
.active {
    background-color: #4CAF50;
}
