---
layout: default
title: EEM
---

<div class="blurb">
<h1>EEM</H1>
	
	<p><i>We need law and order of the world, but not the way like Mr trump’s manner, namely topdown orders but bottomup. Imagine that.</i>
		
<h2>Categories</H2>		
{% for category in site.categories %}
    <a href="/category/{{ category[0] }}.html" style="text-decoration: none;">{% if category[0] == 'eem' %}{{ category[0] | upcase }}{% else %}{{ category[0] | capitalize }}{% endif %}</a><br />
{% endfor %}
		
	<br /><br /><a href="/post">All posts.</a>
		
	<br /><br /><a href="/post/tags">tags</a></p>
	        
	<br /><br /><a href="/sample">sample</a></p>
	
	<br /><br /><br /><small><strong>EEM</strong> is short for <strong>E</strong>ngineers <strong>E</strong>nsemble 
		<strong>M</strong>ethod. 
	<br />Remember that<small>.
	</p>
</div><!-- /.blurb -->
