<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- 			<link rel="stylesheet/scss" type="text/css" href="/assets/css/style.scss"> -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
<bar>
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/post/tags">Tags</a></li>
  <li><a href="/post">All posts</a></li>

  <li style="float:right"><a href="https://github.com/STakashimizu/EEM/wiki">Wiki</a></li>
  <li style="float:right"><a href="mailto:kor19952006@gmail.com">Mail</a></li>
  <li style="float:right"><a href="https://github.com/STakashimizu/STakashimizu.github.io/tree/master/_posts">Edit</a></li>
</ul>
</bar>
			
<!-- 			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/post/tags">Tags</a></li>
	        		<li><a href="/post">All posts</a></li>
	    		</ul>
			</nav>
 -->
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
    			<footer>
<!-- 				<hr> -->
<!-- 	    		<ul>
        			<li><a href="https://github.com/STakashimizu/EEM/wiki">EEM Wiki (login to Github to edit)</a></li>
	        		<li><a href="mailto:kor19952006@gmail.com">Mail</a></li>
				<li><a href="https://github.com/STakashimizu/STakashimizu.github.io/tree/master/_posts">Edit</a></li>
			</ul>
				 -->
<!-- <p /> -->
				<p align="right"><i>"Proofs and semantics are the social content of consensus."</i></p>
<!-- 			<small><strong>EEM</strong> is short for <strong>E</strong>ngineers <strong>E</strong>nsemble 
		<strong>M</strong>ethod.<br />Remember that<small>. -->

			</footer>
		</body>
	</html>
