<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
<!-- 			<link rel="stylesheet" type="text/css" href="/css/main.css"> -->
<!-- 			<link rel="stylesheet" type="text/css" href="/assets/css/style.scss"> -->
			<link rel="stylesheet" type="text/scss" href="/assets/css/style.scss">

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
<!-- 		        	<li><a href="/about">About</a></li> -->
<!-- 	        		<li><a href="/cv">CV</a></li> -->
				<li><a href="/post/tags">Tags</a></li>
<!-- 				<li><a href="/post/categories">Categories</a></li> -->
	        		<li><a href="/post">All posts</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        			<li><a href="https://github.com/STakashimizu/EEM/wiki">EEM Wiki (login to Github to edit)</a></li>
	        		<li><a href="mailto:kor19952006@gmail.com">Mail</a></li>
				<li><a href="https://github.com/STakashimizu/STakashimizu.github.io/tree/master/_posts">Edit</a></li>
			</ul>
				
<p />
			<br /><br /><small><strong>EEM</strong> is short for <strong>E</strong>ngineers <strong>E</strong>nsemble 
		<strong>M</strong>ethod. Remember that<small>.

			</footer>
		</body>
	</html>
