---
layout: default
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<!-- <div class="githublike"> -->
<githublike>
<strong>-----</strong><br />
title: <strong>{{ page.title }}</strong><br />
date: {{ page.date | date: "%Y-%m-%d" }}<br />
description: {{ page.description | default: "None"}}<br />
category:
<!--     <ul> -->
    [
    {% for cate in page.category %}
<!--     <li class="githublike"><a href="/category/{{ cate }}.html">{{ cate }}</a></li> -->
    <a href="/category/{{ cate }}.html">{{ cate }}; </a>
    {% endfor %}
    [
<!--   </ul> -->
tags: 
  <ul>
    {% for tag in page.tags %}
    <li><a href="/post/tags.html#tag_{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
<strong>-----</strong><br />
<!--   </div>  -->
</githublike>


<!-- <h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p> -->

<div class="post">
  {{ content }}
  
<!-- <nav id="tags">
  <h3>Related tags</h3>
  <ul>
    {% for tag in page.tags %}
    <li><a href="/post/tags.html#tag_{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</nav>
  
<nav id="category">
  <h3>Related categories</h3>
  <ul>
    {% for cate in page.category %}
    <li><a href="/category/{{ cate }}.html">{{ cate }}</a></li>
    {% endfor %}
  </ul>
</nav>  
   -->
</div>


